#game, #gameover {
	display: flex;
	align-items: center;
	justify-content: space-around;

	background-color: $light-gray;

	width: 100%;
	height: 100%;

	h2 {
		font-size: 4em;
		margin: 0;
	}
}

#image {
	width: 40%;
	height: 100vh;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;

		object-fit: cover; 
	}
 
	&.hidden {
		display: none;
	}
}

#phrase {
	flex-grow: 2;
}

#next, #gameover button {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 60px 100px; 

	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 1px;

	color: $primary-color;
	background: none;
	border: none; 
	outline: none;

	&:hover {
		color: $primary-hover;
	}
}

#gameover {
	flex-direction: column;
	justify-content: center;

	background-color: $primary-color;
	color: $white;

	h2 {
		font-weight: normal;
	}

	button {
		margin: auto;
		left: 0;

		color: $white;

		&:hover {
			color: $light-gray;
		}
	}
}