
header {
	position: fixed;
	width: 100%;
	padding: 12px 50px;

	text-align: left;

	background-color: $white;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	
	h1 {
		font-weight: lighter;

		b {
			font-weight: normal;
		}

		.category {
			border-bottom: 2px solid $black; 
		}
	}

	a {
		text-decoration: none;
		color: $black;
	}
}

@media only screen and (min-width: 64.063em) { 

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	header {
		padding: 6px 24px !important;
	}
}

@media only screen and (max-width: 40em) { 
	header {
		padding: 6px 24px !important;

		i, .category {
			display: none;
		}
	}
}