
header {
	position: fixed;
	width: 100%;
	padding: 12px 50px;

	text-align: left;

	background-color: $white;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	
	h1 {
		font-weight: lighter;

		b {
			font-weight: normal;
		}

		.category {
			border-bottom: 2px solid $black; 
		}
	}
}