/* CONSTANTS */
$small-breakpoint:  em(640)  !default;
$medium-breakpoint: em(1024) !default;
$large-breakpoint:  em(1440) !default;

html, body {
	width: 100%;
	height: 100%;

	text-align: center;

	// overflow: hidden;
}