html, body {
	width: 100vw;
	height: 100vh;

	text-align: center;

	// overflow: hidden;
}

.right-arrow {
	margin: 0 10px; 

	&::before, &::after {
		content: ""; 
		display: inline-block;
		position: relative;
		background-color: $black;
		height: 2px;
		width: 10px;

		top: -3px;
		left: -6px;
	}

	&::before {
		transform: rotate(45deg);
		top: -10px;
		left: 4px;
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.hidden {
	display: none !important;
}