<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
	<title>Face Swap | Maelstrom Party Pack</title>
</head>
<body class="faceswap">
	<header><h1><a href="/">Maelstrom <b>Party Pack</b></a><i class="i-right-arrow"></i><span class="category">Face Swap</span></h1></header>

	<div class="faces">
		<ul id="top-slider" class="slider">
			<li><img src="assets/img/faceswap/top/andie.png"></li>
			<li><img src="assets/img/faceswap/top/dave.png"></li>
			<li><img src="assets/img/faceswap/top/hareen.png"></li>
			<li><img src="assets/img/faceswap/top/jenny.png"></li>
			<li><img src="assets/img/faceswap/top/lawrence.png"></li>
			<li><img src="assets/img/faceswap/top/taylor.png"></li>
			<li><img src="assets/img/faceswap/top/kevin.png"></li>
			<li><img src="assets/img/faceswap/top/devin.png"></li>
			<li><img src="assets/img/faceswap/top/lisa.png"></li>
			<li><img src="assets/img/faceswap/top/wen.png"></li>
			<li><img src="assets/img/faceswap/top/rob.png"></li>
			<li><img src="assets/img/faceswap/top/noah.png"></li>
			<li><img src="assets/img/faceswap/top/leah.png"></li>
			<li><img src="assets/img/faceswap/top/britt.png"></li>
		</ul>

		<ul id="bottom-slider" class="slider">
			<li><img src="assets/img/faceswap/bottom/andie.png"></li>
			<li><img src="assets/img/faceswap/bottom/dave.png"></li>
			<li><img src="assets/img/faceswap/bottom/hareen.png"></li>
			<li><img src="assets/img/faceswap/bottom/jenny.png"></li>
			<li><img src="assets/img/faceswap/bottom/lawrence.png"></li>
			<li><img src="assets/img/faceswap/bottom/taylor.png"></li>
			<li><img src="assets/img/faceswap/bottom/kevin.png"></li>
			<li><img src="assets/img/faceswap/bottom/devin.png"></li>
			<li><img src="assets/img/faceswap/bottom/lisa.png"></li>
			<li><img src="assets/img/faceswap/bottom/wen.png"></li>
			<li><img src="assets/img/faceswap/bottom/rob.png"></li>
			<li><img src="assets/img/faceswap/bottom/noah.png"></li>
			<li><img src="assets/img/faceswap/bottom/leah.png"></li>
			<li><img src="assets/img/faceswap/bottom/britt.png"></li>
		</ul>
	</div>

	<button type="button" onclick="shuffle();">Shuffle</button>

	<script src="js/faceswap.js"></script>
</body>
</html>