<html>
<head>
	<% include ../partials/header %>
	<title>Maelstrom Catchphrase</title>
</head>
<body>
	<h1>Maelstrom <b>Catchphrase</b></h1>

	<button type="button" class="start">Start Game</button>
	<button type="button" class="settings">Settings</button>
</body>
</html>