<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
</head>
<body>
	<h1>Maelstrom <b>Catchphrase</b><span class="right-arrow"></span><span>Everything</span></h1>

	<div id="game">
		<div id="image"></div>
		<div>
			<h2 id="phrase"></h2>
			<button type="button" id="next">Next</button>
		</div>
	</div>

	<script src="js/game.js"></script>
</body>
</html>