<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
</head>
<body>
	<header><h1>Maelstrom <b>Catchphrase</b><span class="right-arrow"></span><span class="category">Everything</span></h1></header>

	<div id="game">
		<div id="image" class="hidden"></div>
		<h2 id="phrase"></h2>
		<button type="button" id="next">Next</button>
	</div>

	<script src="js/game.js"></script>
</body>
</html>